<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.AndroidRPGNew"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="com.example.AndroidRPGNew.Main"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.AndroidRPGNew.SettingsHandler"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.StoreHandler"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.Loading"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.AccountCreate"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.AccountSetup"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.MultiplayerMenu"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.SQLConnection"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.ServerConnect"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        <activity android:name="com.example.AndroidRPGNew.multiplayer.ChatConnect"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
</manifest>
